test.py
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
*.egg
*.wheel
venv/
env/
.venv/
.env/
.env
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log
.DS_Store
Thumbs.db
.env
*.sqlite3
*.db
migrations/
*.pid
*.sock